{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/style.css' %}">

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
<head>

<body>

   <header class="header">
        <a href="{% url 'home' %}" class="logo">
            <h1>Hi, I am Karen
            <img 
                src="https://user-images.githubusercontent.com/18350557/176309783-0785949b-9127-417c-8b55-ab5a4333674e.gif"
                alt="wave"
                class="wave"
            >
            </h1>
        </a> 

        <nav class="navbar">
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'skills' %}">Skills</a>
            <a href="{% url 'projects' %}">Projects</a>
   </header>

   <section class="home">
        <div class="home-content">
            <h2>Engineering Student</h2>
            <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit.
            Sed ut purus eget sapien egestas.</p>
            <div class="home-buttons">
                <a href="#"> LinkedIn</a>
                <a href="#"> GitHub</a>
            </div>
        </div>
    </section>

</body>

</html>